body{
    background: linear-gradient(68.15deg, #611b27 16.62%, #e4320a 85.61%);;
}

.cabecalho{
    background: white;
    display: flex;
    align-items: center;
    padding: 20px 0;
    justify-content: space-around;
}

.cabecalho-imagem{
    margin-left: 10%;
    width: 250px;
    height: 120px;
}

nav li{
    display: inline;
	margin: 0 0 0 15px;
}

nav a{
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-size: 22px;
    font-weight: bold;
}

nav a:hover{
    color: #b3032f;
    text-decoration: underline;
}

.banner{
    width: 100%;
}

.principal{
    padding: 3em 0;
    width: 60%;
	margin: 0 auto;
}


.principal p{
    color: #FFFFFF;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    margin: 0 0 1em;
    align-items: center;
    padding-top: 1em;
}

.titulo-principal{
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
    padding: 30px;
    font-size: 2em;
    margin: 0 0 1em;
}

.titulo-principal:before {
	content: "[ ";
}

.titulo-principal:after {
	content: " ]";
}

.camisetas{
    width: 280px;
    margin: 0 20px 20px 0;
    float: left;
}

.mapa {
	padding: 3em 0;
}

.mapa-conteudo {
	width: 940px;
	margin: 0 auto;
}

.mapa p{
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    margin: 0 0 1em;
    padding-top: 1em;
}